.cardsProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  gap: 30px;
  margin-left: 16vh;
}

@media (max-width: 1350px) {
  .cardsProducts {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {

  .bgImage {
    display: none;
  }

  .cardsProducts {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 60%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
