@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@400;700&family=Fredoka+One&family=Roboto:wght@400;500;700&display=swap');
@font-face {
  font-family: 'test';
  src: url('/fonts/FlameRegular.otf') format('opentype');
}

@font-face {
  font-family: 'test-two';
  src: url('/fonts/FlameBold.otf') format('opentype');
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

button:focus {
  box-shadow: none !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #1B1A1A !important;
}
