.boxFlex {
  display: flex;
  flex-direction: column;
}

.boxGrid {
  display: flex;
  gap: 52px;
}

@media (max-width: 810px) {
  .modalHighlight {
    margin-top: 40px;
    height: 80% !important;
    overflow: scroll;

    .modalContentHighlight {
      display: flex;
      flex-direction: column;

      img {
        width: 90%;
        height: 380px;
    
        margin: 48px auto 0 auto;
        border-radius: 8px;
      }
    }
  
    .modalProducts {
      width: 80% !important;
    }
  }
}

@media (max-width: 650px) {
  .modal {
    margin: auto 26px;
  }
}

