.footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  padding: 0 60px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    cursor: pointer;
    
    :hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 750px) {
  .footerContent {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
  }
}
