.highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 6rem;
}

.boxImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxImages img {
  width: 440px;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: -6px -6px 6px 4px rgba(0, 0, 0, 0.25);

  position: relative;
  z-index: 0;

  transition: transform 0.3s ease-in-out;
}

.boxImages:hover img {
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .highlight {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;

    align-items: center;
    text-align: center;
  }

  .contentHighlight {
    padding: 0 40px !important;
    width: 100% !important;
  }

  .boxImages img {
    width: 100%;
    height: 480px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .highlight {
    padding: 3rem;
  }
}
