.bannerContent {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 660px;
  text-shadow: 6px 6px 6px #000000b8 !important;

  .bannerTopContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
   
    font-family: 'Bebas Neue';
  
    p:first-child {
      font-size: 146px;
      height: 180px;
    }
  
    p:last-child {
      font-size: 40px;        
      height: 100px;
      letter-spacing: .26em;
    }
  }
  
  .bannerBottomContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 96px;
    font-family: 'test-two';
    color: #fcde4a;
  
     p:first-child {
      height:120px;
    }
  
    p {
      margin-left: 6rem;
    }
  }
}


.thirdBanner {
  p:first-child {
    position: relative;
    font-size: 10em;
    font-family: 'test-two';
    letter-spacing: 10px;
    color: #ff8601;
    height: 158px;
    top: -18px;
  }

  p+p {
    position: relative;

    font-size: 2em;
    font-family: 'test';
    letter-spacing: 2px;
    color: #feeddd
  }
}

.carousel {
  div {
    margin: 0 !important;
  }

  span {
    margin: 0 20px
  }
}


@media (max-width: 1250px) {

  .secondBanner {
    p:first-child {
      font-size: 5rem;
    }
  }

  .thirdBanner {
    p:first-child {
      font-size: 8em;
      letter-spacing: 10px;
      height: 128px;
    }
  }
}

@media (max-width: 1050px) {
  .bannerPrimaryContent {

    .bannerTopContent {
      max-width: 100%;
    }
    
    .bannerBottomContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 76px;
      color: #fcde4a;
      
      p{
        margin: 0 !important;
      }
    }
  }

  
  .thirdBanner {
    p:first-child {
      font-size: 6rem;
      letter-spacing: 8px;
      height: 128px;
      top: 10px
    }
  }
}

@media (max-width: 800px) {
  .carousel{
    > div div {
      grid-template-columns: repeat(3,100%);
    }
  }

  .bannerPrimaryContent {
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.925) !important; 
  }

  .thirdBanner {
    p:first-child {
      top: 60px;
      font-size: 4em;
    }
  }
}


@media (max-width: 650px) {
  .bannerContent {
    padding-top: 0 !important;
    padding-right:0 !important
  }

  .bannerPrimaryContent {
    text-shadow: 6px 6px 4px black !important;

    .bannerTopContent {
      p:first-child {
        font-size: 146px;
      }
    
      p:last-child {
        font-size: 40px;
      }
    }
    
    .bannerBottomContent {
      padding-top: 40px;
      font-size: 66px;
      height: 100px;        
    }
  }

  .secondBanner{
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    text-align: center;
    text-shadow: -9px 6px 4px rgb(0 0 0 / 78%);

    > div {
      display: flex;
      flex-direction: column;
    }

    > div p:last-child {
      width: 280px;
    }

    .secondBannerBottomContent{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      p {
        font-size: 3.4rem;
      }
    }
  }
}

@media (max-width: 510px) {
  .bannerPrimaryContent {
    .bannerTopContent {
      
      p:first-child {
        font-size: 126px;
      }
    
      p:last-child {
        font-size: 30px;
        margin-top: -20px;

      }
    }
    
    .bannerBottomContent {
      font-size: 56px;
    }
  }

  .secondBanner {
    p:first-child {
      font-size: 4rem;
    }
  }

  .secondBannerBottomContent{

    p {
      font-size: 2.8rem !important;
    }
  }

  .thirdBanner {
    p:first-child {
      top: 60px;
      font-size: 3.8em;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 480px) {
  .thirdBanner {
    p:first-child {
      font-size: 3.4em;
    }

    p:last-child {
      font-size: 1.8em;
    }
  }
}