.bannerContent {
  width: 380px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 100px;
  margin-bottom: 100px;
}


.bannerConfigs {
 img {
  width: 550px;
 }
}

.bannerPrimaryContent{
 

  &:first-child {
    > div {
      display: flex;
      flex-direction: column;
    }

    max-width: 50%;
    font-family: 'Bebas Neue';
  }  
}


.carousel{
 
  div {
    margin: 0 !important;
  }

  main {
 
   p {
    
     margin-left: 100px;
   }
  
  }
}


@media (max-width: 1450px) {
  .bannerPrimaryContent{
 
    &:first-child {
      max-width: 80%;
      margin: 0 auto !important;
    }
  }
}

@media (max-width: 850px) {
  .bannerPrimaryContent{
 
    &:first-child {
      max-width: 80%;
      margin: 0 auto !important;
    }
  }
}

@media (max-width: 650px) {
 

  .bannerContent {
    width: 60%;
    gap: 40px;
    text-align: center;
    margin: 0 auto 60px auto;
    
  }

  .bannerConfigs {
    p{
      font-size: 3rem !important;
    }
  }

  .bannerPrimaryContent{
 

    &:first-child {
      max-width: 80%;
      margin: 0 auto !important;
 
    }
  }

  
}
